In [1]:
import pandas as pd
import numpy as np

## Chuyển đổi dữ liệu

In [7]:
#Tạo DataFrame với cột 'giá trị' chứa 10 số ngẫu nhiên từ 1 đến 100
data = np.random.randint(1,101,size=10)
df = pd.DataFrame(data,columns=["Value"])
df

   Value
0     78
1     78
2     81
3     51
4     34
5     17
6     99
7     12
8     11
9     69

In [9]:
#Chuyển cột 'giá trị' thành mảng NumPy
array = df['Value'].to_numpy()
array

array([78, 78, 81, 51, 34, 17, 99, 12, 11, 69], dtype=int32)

## Áp dụng hàm NumPy

In [10]:
#Từ DataFrame ở bài 1, tạo cột mới 'giá trị bình phương' bằng np.square
df['Value Square'] = np.square(df['Value'])
df

   Value  Value Square
0     78          6084
1     78          6084
2     81          6561
3     51          2601
4     34          1156
5     17           289
6     99          9801
7     12           144
8     11           121
9     69          4761

## Tính toán thống kê

In [ ]:
#Tính trung bình và độ lệch chuẩn của cột 'giá trị' bằng NumPy
mean_value = np.mean(df['Value'])
mean_value #Trung bình

np.float64(53.0)

In [13]:
std_value = np.std(df['Value'])
std_value #standard deviation/độ lệnh chuẩn

np.float64(30.84153044192198)

## Làm sạch dữ liệu