In [3]:
import pandas as pd

In [4]:
#Tạo một Series với 5 phần tử từ một danh sách tên và tuổi.
data = [('Nam',21),('Anh',22),('Thịnh',23),('Hoàng',24),('Huy',25)]
s = pd.Series(data)
s

0      (Nam, 21)
1      (Anh, 22)
2    (Thịnh, 23)
3    (Hoàng, 24)
4      (Huy, 25)
dtype: object

In [5]:
#Tạo một DataFrame từ từ điển chứa thông tin của 5 học sinh (tên, điểm toán, điểm văn).
data = {'Tên':['Nam','Anh','Thịnh','Hoàng','Huy'],
        'Điểm toán':[6,7,8,9,10],
        'Điểm văn':[10,9,8,7,6]}
df = pd.DataFrame(data)
df

     Tên  Điểm toán  Điểm văn
0    Nam          6        10
1    Anh          7         9
2  Thịnh          8         8
3  Hoàng          9         7
4    Huy         10         6

In [8]:
#Truy cập cột 'tên' và hàng thứ 2 của DataFrame.
df.iloc[2]['Tên']

'Thịnh'

In [10]:
#Thêm một cột mới 'điểm trung bình' vào DataFrame.
df['Điểm trung bình'] = df[['Điểm toán','Điểm văn']].mean(axis=1)
df

     Tên  Điểm toán  Điểm văn  Điểm trung bình
0    Nam          6        10              8.0
1    Anh          7         9              8.0
2  Thịnh          8         8              8.0
3  Hoàng          9         7              8.0
4    Huy         10         6              8.0