In [1]:
import pandas as pd
import numpy as np

In [5]:
#Tạo một DataFrame với cột 'giá trị' chứa 10 số ngẫu nhiên từ 1 đến 100.
data = np.random.randint(1,101,size=10)
df = pd.DataFrame(data,columns=['Giá trị'])
df

   Giá trị
0       94
1       36
2        4
3       81
4       19
5        9
6       77
7       27
8       43
9       29

In [15]:
#Chuyển cột 'giá trị' thành mảng NumPy và tính bình phương của nó.
array = df['Giá trị'].to_numpy()
array_squared = array**2
array_squared

array([8836, 1296,   16, 6561,  361,   81, 5929,  729, 1849,  841],
      dtype=int32)

In [16]:
#Tạo một cột mới trong DataFrame chứa giá trị bình phương.
df['Bình phương'] = pd.Series(array_squared)
df

   Giá trị  Bình phương
0       94         8836
1       36         1296
2        4           16
3       81         6561
4       19          361
5        9           81
6       77         5929
7       27          729
8       43         1849
9       29          841

In [20]:
#Tính trung bình và độ lệch chuẩn của cột 'giá trị' bằng NumPy.
mean_df = array.mean()
mean_df

np.float64(41.9)

In [19]:
std_df = array.std()
std_df

np.float64(29.904681907687966)