In [46]:
import pandas as pd
import numpy as np

In [47]:
#Tạo DataFrame chứa thông tin điểm thi của 10 học sinh cho 3 môn học.
data = {'Tên':['Nam','An','Bình','Cường','Dương','Phú','Thịnh','Tâm','Thảo','Yến'],
        'Điểm Toán':[1.5,8,3,4,5,8,2,5,8,9],
        'Điểm Lý':[10,9,8,10,5,4.5,3,2,1,10],
        'Điểm Hóa':[10,2,3,4.5,1,6,2,8,9,1]}
df = pd.DataFrame(data)
df

     Tên  Điểm Toán  Điểm Lý  Điểm Hóa
0    Nam        1.5     10.0      10.0
1     An        8.0      9.0       2.0
2   Bình        3.0      8.0       3.0
3  Cường        4.0     10.0       4.5
4  Dương        5.0      5.0       1.0
5    Phú        8.0      4.5       6.0
6  Thịnh        2.0      3.0       2.0
7    Tâm        5.0      2.0       8.0
8   Thảo        8.0      1.0       9.0
9    Yến        9.0     10.0       1.0

In [48]:
#Tính thống kê mô tả (mean, min, max, std) cho từng môn học.
toan = df['Điểm Toán'].describe()
toan

count    10.000000
mean      5.350000
std       2.749242
min       1.500000
25%       3.250000
50%       5.000000
75%       8.000000
max       9.000000
Name: Điểm Toán, dtype: float64

In [49]:
ly = df['Điểm Lý'].describe()
ly

count    10.000000
mean      6.250000
std       3.553168
min       1.000000
25%       3.375000
50%       6.500000
75%       9.750000
max      10.000000
Name: Điểm Lý, dtype: float64

In [50]:
hoa = df['Điểm Hóa'].describe()
hoa

count    10.000000
mean      4.650000
std       3.399755
min       1.000000
25%       2.000000
50%       3.750000
75%       7.500000
max      10.000000
Name: Điểm Hóa, dtype: float64

In [51]:
#Nhóm dữ liệu theo môn học và tính điểm trung bình.
mean_scores = df[['Điểm Toán','Điểm Lý','Điểm Hóa']].mean()
mean_scores

Điểm Toán    5.35
Điểm Lý      6.25
Điểm Hóa     4.65
dtype: float64

In [52]:
#Tạo bảng pivot hiển thị điểm trung bình của mỗi học sinh theo môn học.
df['Điểm trung bình'] = df[['Điểm Toán','Điểm Lý','Điểm Hóa']].mean(axis=1)
df

     Tên  Điểm Toán  Điểm Lý  Điểm Hóa  Điểm trung bình
0    Nam        1.5     10.0      10.0         7.166667
1     An        8.0      9.0       2.0         6.333333
2   Bình        3.0      8.0       3.0         4.666667
3  Cường        4.0     10.0       4.5         6.166667
4  Dương        5.0      5.0       1.0         3.666667
5    Phú        8.0      4.5       6.0         6.166667
6  Thịnh        2.0      3.0       2.0         2.333333
7    Tâm        5.0      2.0       8.0         5.000000
8   Thảo        8.0      1.0       9.0         6.000000
9    Yến        9.0     10.0       1.0         6.666667

In [53]:
#Học sinh có điểm trung bình cao nhất
df.loc[df['Điểm trung bình'].idxmax()]

Tên                     Nam
Điểm Toán               1.5
Điểm Lý                10.0
Điểm Hóa               10.0
Điểm trung bình    7.166667
Name: 0, dtype: object